@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: #FFFFFF;
    --background-color: #000000;
    --secondary-color: #888888;
    --text-color: #FFFFFF;
    --error-color: #FF3E2D;
    --layout-bg-color: #131315;
    --primary-button-bg-color: #FFFFFF;
    --primary-button-fg-color: #000000;
    --secondary-button-bg-color: #141414;
    --secondary-button-fg-color: #FFFFFF;
    --warning-container-border: #AA7C23;
}